body {
  background-color: #E4EEF7;
}
.titel {
  text-align: center;  
  margin-top: 30px;
  font-size: 40px;
  color: black;
  font-family: Courier New, monospace;
  background-color: #FCFCFC;   
   margin-left: auto;            
   margin-right: auto;
  width: 400px;  
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);  
    padding: 17px;    
}



.wachtwoord {
  border-radius: 20px;
  background-color: #FCFCFC;      
  padding: 20px;                
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);        
  width: 300px;                
  margin-left: auto;            
  margin-right: auto;
  text-align: center;
  margin-top: 80px;
  font-family: 'Optima', sans-serif;
  }
