body {
  background-color: #E4EEF7;
}
.titel {
   margin-top: 20px;
    font-size: 60px;
  color: black;
  font-family: 'Optima', sans-serif;
}



.wachtwoord {
  border-radius: 20px;
  background-color: white;      
  padding: 20px;                
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;          
  width: 300px;                
  margin-left: auto;            
  margin-right: auto;
  text-align: center;
  margin-top: 100px;
  }
